body {
    background-color: rgb(238, 238, 238);
    margin: 0;
    padding: 0;
}
.round-btn {
    border-radius: 50px;
    width: 10rem
}

.text-container {
    max-width: 450px;
}

.illustration {
    max-width: 100%;
}
#card h5 { font-size: 16px;}
#card p { font-size: 14px;}
#card a { display: block;}

.btn {
    border-radius: 10rem;
}

.card-style {
    width: 17rem;
    border-radius: 1rem;
    margin: auto;
}